.product-wrapper {
    margin-top: 16px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.images-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.img-wrapper {
    border-radius: 15px;
    display: flex;
    height: 221px;
    align-items: center;
    justify-content: center;
}

.size-chart-wrapper {
    width: 310px;
    border: 1px solid black;
    border-radius: 31px;
    background-color: var(--palette-gray-medium-dark);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 24px;
    padding-top: 0px;
}

.size-chart {
    display: flex;
    flex-direction: column;
}

.product-price-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-product {
    font: normal 500 18px/22px 'Montserrat', Helvetica, Arial, sans-serif;
}

.product-price {
    font: normal 700 18px/22px 'Montserrat', Helvetica, Arial, sans-serif;
}

.name-product {
    font: normal 500 18px/22px 'Montserrat', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}

.product-size-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.sizes-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.size-item {
    border-radius: 12px;
    background-color: var(--palette-gray-medium-dark);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.size-name {
    font: normal 700 16px/22px 'Inter', Helvetica, Arial, sans-serif;
}

.product-size-wrapper-title {
    margin: 0;
    font: normal 500 14px/22px 'Montserrat', Helvetica, Arial, sans-serif;
}

.button-add-cart-wrapper {
    display: flex;
    margin-top: 20px;
}

.button-add-cart {
    border-radius: 31px;
    background-color: var(--palette-gray-medium);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 12px;
    width: 100%;
    text-align: center;
}

.button-add-cart-text {
    font: normal 700 18px/22px 'Montserrat', Helvetica, Arial, sans-serif;

}

.description-product-wrapper {
    background-color: var(--palette-gray-medium);
    padding: 24px;
    border-radius: 31px;
}

.description-product-text {
    font: normal 500 18px/22px 'Montserrat', Helvetica, Arial, sans-serif;
}

.description-product-list {
    /* outline: 1px solid firebrick; */
    font: normal 500 14px/22px 'Montserrat', Helvetica, Arial, sans-serif;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    margin-bottom: 40px;
}

.description-product-item {
    position: relative;
    padding-left: 7px;
}

.description-product-item::before {
    content: "-";
    position: absolute;
    left: 0;
    margin-right: 8px;
}