.page__main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-main {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.breadcrumbs {
    color: var(--palette-gray-neutral);
    margin-top: 16px;
}

.categories-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.categories-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-top: 29px;
}

.categories-item:first-child {
    margin-top: 20px;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    list-style-type: none;
    gap: 45px;
    margin: 0;
    margin-top: 17px;
    padding: 0;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-image {
    width: 90px;
    height: 92px;
    border: 1px solid var(--palette-black);
    border-radius: 31px;
    background-color: var(--palette-gray-medium-dark);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 8px;
}